

.link {
  text-decoration: none;
  margin-left: 40px;
  margin-bottom: 40px;
  color: #fff;
  text-transform: uppercase;
  &:hover {
    color: #01b4e4;
  }
}

.logo {
  height: 80px;
  width: 80px;
  margin-right: 40px;
}

.search img {
  width: 30px;
  height: 30px;
}
