.main__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.movie__block {
  width: 210px;
  height: 400px;
}

.row {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text__block {
  padding-left: 25px;
}

.title {
  font-size: 15px;
  max-width: 200px;
  margin-left: -25px;
}


.date {
  margin-top: 5px;
  margin-left: -25px;
}

.current__page {
  font-weight: bold;
}

.pages__row {
  display: flex;
  justify-content: center;
  margin-top: 55px;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .main__row {
    justify-content: center;
  }
}
